@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


html{
  margin: 0;
    padding: 0;
   
    color: #f3f4f6;
    
    font-family: "Rubik", sans-serif;
}

 


@layer utilities {
  /* چشمک‌زن برای متن */
  @keyframes blink {
    0%, 100%{
      opacity: 1;
    }
    50% { opacity: 0; }
  }
  .animate-blink {
    animation: blink 0.8s step-end infinite;
  }
  

  /* انیمیشن بار لودینگ */
  @keyframes loading {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(250%);
    }
  }

  .animate-loading-bar {
    animation: loading 0.8s ease infinite;
  }

  /* افکت محو و ظاهر شدن عناصر هنگام اسکرول */
  .reveal {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.7s ease, transform 0.7s ease;
  }

  .reveal.visible {
    opacity: 1;
    transform: translateY(0);
  }
}
 